// main colors
$black: #000;
$dark: #343a40;
$gray: #3e4146;
$white: #ffffff;
$wf7: #f7f7f7;
$pink: #ff7e87;

// hovers
$gray-h: #505255;
$pink-h: #ec7880c1;

// box-shadows
$shadow-1: #e8e8e851;
$shadow-2: #cfcfcf51;

// flags
$green: #76ec88;
$yell: #ffd557;
$red: #ec8876;
